body{
	font-family: sans-serif;
	margin: 0;
	background-color: #f4f4f4;
}
header{
	background-color: black;
    color: white;
    padding: 10px;
    padding-left: 20px;
}

section{
	float: left;
    display: inline-block;
    padding: 10px;
    padding-left: 20px;    
    background-color: #FFF;
    width: 75%;
}
aside{
	background-color: #f4f4f4;
	margin-left: 30px;
    height: 100%;
    display: inline-block;
}

h2{
	border-bottom-color: gray;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-bottom: 8px;
}

table td{
	vertical-align: top;
	padding: 15px;
}
td,h4  {
	margin-top: 0px;
}
#face {
	width: 150px;
	margin-left: 30px;
}